form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
}

.criteriaSection {
  margin-bottom: 10px;
  width: 75%;
}
#zipcode {
  margin-left: 8px;
}

#eventdate {
  margin-left: 8px;
}

button {
  /* width: 80px;
	height: 35px; */
  padding: 10px;
  border-radius: 5px;
}

.keyword-text {
  border: solid 1px black;
  border-radius: 5px;
}

.zip-code {
  border: solid 1px black;
  border-radius: 5px;
}
