.single-event {
  width: 100%;
  display: flex;
  justify-content: space-between;

  border: solid 3px #184d47;
  margin: 0.5rem;
  padding: 0.6rem;

  background-color: #d6efc7;
  color: #184d47;
  box-shadow: 0px 5px 20 px white;
}

.date-details-container {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.date {
  display: flex;
  flex-direction: row;
  color: #184d47;
  /* background-color: #d6efc7; */
  padding: 0.5rem 1rem;
  border-bottom: solid 1px #96bb7c;

  /* width: 20%; */
}
.event-details {
  width: 100%;
  padding: 0 0.5rem;
}
.event-name {
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.event-name:hover {
  color: #96bb7c;
}

.button {
  font-weight: 700;
  font-size: 1.2rem;
  width: 20%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #184d47;
  background-color: #fad586;
  border-style: none;
  cursor: pointer;
  transition: all 0.2s;
}

.button:hover {
  background-color: #96bb7c;
}

colorPalette {
  color: #184d47;
  color: #96bb7c;
  color: #d6efc7;
  color: #fad586;
}

@media only screen and (min-width: 768px) {
  .date-details-container {
    flex-direction: row;
    /* background-color: white; */
  }

  .date {
    flex-direction: column;
    justify-content: center;
    border-bottom: none;
    border-right: solid 1px #96bb7c;
    font-weight: 700;
  }
}
