* {
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  text-align: center;
  background-image: url(./images/crowd1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
